<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            <form th:object="${boardSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{boardTitle}" class="form-control" placeholder="게시글 제목"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{memberGender}" class="form-control">
                        <option value="" th:text="#{label.member.gender}">성별</option>
<!--                        <option-->
<!--                                th:value="남성"-->
<!--                                th:text="#{option.gender.man}">option-->
<!--                        </option>-->

<!--                        <option-->
<!--                                th:value="여성"-->
<!--                                th:text="#{option.gender.woman}">option-->
<!--                        </option>-->

<!--                        <option-->
<!--                                th:value="나머지"-->
<!--                                th:text="#{option.gender.ex}">option-->
<!--                        </option>-->
                        <option th:each="gender : ${T(springJpaBoard.Board.domain.GenderStatus).values()}"
                                th:value="${gender}"
                                th:text="${gender}">option
                        </option>

                    </select>
                </div>
                <button type="submit" th:text="#{button.search}" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{label.board.member}">회원 ID</th>
                <th th:text="#{label.board.title}">제목</th>
                <th th:text="#{label.board.writer}">작성자</th>
                <th th:text="#{label.board.createTime}">작성 시간</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.name}">/td>
                <td>
                    <a th:href="@{/boards/{id}/detail(id=${board.id})}" th:text="${board.title}"></a>
                </td>
                <td th:text="${board.writer}"></td>
                <td th:text="${#temporals.format(board.getBoardDateTime(), 'YY년 MM월 dd일')}"></td>
<!--                <td>-->
<!--                    <a th:if="${item.status.name() == 'ORDER'}" href="#"-->
<!--                       th:href="'javascript:cancel('+${item.id}+')'"-->
<!--                       class="btn btn-danger">CANCEL</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
